@model IEnumerable<OgrenciBilgiSistemiProje.Models.Grade>

<h2>Notlar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Öğrenci</th>
            <th>Ders</th>
            <th>Vize</th>
            <th>Final</th>
            <th>Ortalama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grade in Model)
        {
            <tr>
                <td>@grade.Student.StudentName @grade.Student.StudentSurname</td>
                <td>@grade.Lesson.LessonName</td>
                <td>@grade.Midterm</td>
                <td>@grade.Final</td>
                <td>@grade.Average</td>
            </tr>
        }
    </tbody>
</table>