@model List<Lesson>
@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<h2>Derslerim</h2>

<div class="container mt-4">
    
        <table class="table">
       
           <tr>
                <th>Ders No</th>
                <th>Ders Adı</th>
                <th>Ders Bölümü</th>
                <th>Ders Akts</th>
                <th>Ders Öğretmeni</th>
                <th>İşlemler</th>
           </tr>
        @foreach (var lesson in Model)
        {
           <tr class="">
                <td>@lesson.LessonId</td>
                <td>@lesson.LessonName</td>
                <td>@lesson.Department.Name</td>
                <td>@lesson.Credit</td>
                <td>@lesson.Teacher.TeacherName</td>

                <td>
                    <a class="btn btn-danger" asp-controller="Teacher" asp-action="QuizList" asp-route-id="@lesson.LessonId">Sınav İşlemleri</a>
                    <a class="btn btn-danger" asp-controller="Teacher" asp-action="GradeList" asp-route-id="@lesson.LessonId">Notlandırma İşlemleri</a>
                </td>
           </tr>
        }
        </table>
       
  
</div>

